#colour-display{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 200px auto;
    width: 50%;
    background-color: white;
    box-shadow: 0 0 30px rgba(0,0,0, 0.5);
    padding: 50px;
    border-radius: 5px;

}

h1{
    font-weight: 900;
}

#new-colour-button{
    width: 100%;
    background-color: black;
    color: white;
    font-weight: 900;
    padding: 15px;
    border: none;
    font-size: 16px;
}
